html {

    display: block;

}

body {
    background-color: #754857;
    display: block;
    margin: 0px ;
    padding : 0px ;
    font-family: arial;
    
    }  

.Dekstop1, .Topbody, .header-container, .Footer2, .Newsletter {

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    }  
    
.Dekstop1 {

    background-color: white;

}

.header-container {

    max-width: 1440px ;

    width: 100%;

    height: 50px;

    background: #6E5A5A;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 17px;

    font-family: arial;

    position: sticky;

    top: 0;
    
    z-index: 1000; 


}

.Image1 {

   
    width: 100% ;

    height: 471px;

    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);

    display: block; /* Assure que l'image ne crée pas d'espaces en bas */

}

.logo {

    width: 90px;

    height: 89px;

}

.navigation {
    position: relative;
    left: 14%;
}

.navigation ul {

    display: flex;

    gap: 20px; /* Espace entre les éléments */

    list-style: none;

    margin: 0;

    font-family: arial;

}


.nav-item {

    padding: 8px;

    border-radius: 8px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: arial; 

}

.nav-item div {

    font-size: 16px;

    color: #ffffff;

    font-weight: 400;

    line-height: 16px;

    word-wrap: break-word;

    font-family: arial;

}

.search-container {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.search-input {
    border: none;
    padding: 10px;
    outline: none;
    flex: 1;
}

.search-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.mon-lien{
    color: #1E1E1E;
    text-decoration: none;
}


.auth-buttons {

    display: flex;

    gap: 12px;

}

.login-button, .signup-button {

    padding: 8px 16px;

    border-radius: 8px;

    border: none;

    cursor: pointer;

}

.login-button {

    background: #CDCDCD;

    color: #1E1E1E;

}

.signup-button {

    background: #2C2C2C;

    color: #F5F5F5;

}

.Topbody {

    width: 1200px;

    height: 100%;

    position: absolute;
    
    margin-bottom: 20% ;

}

.image-container {

    width: 619px; /* Largeur du conteneur */

    height: 451px; /* Hauteur automatique pour maintenir le ratio d'aspect */

    max-width: 800px; /* Largeur maximale du conteneur */

    overflow: hidden; /* Masque les débordements */

    position: relative; /* Positionnement relatif pour le conteneur */

    padding-top: 50px;
    
}

.Image2 {

    width: 100%; /* L'image prend 100% de la largeur du conteneur */

    height: auto; /* La hauteur s'ajuste pour conserver le ratio d'aspect */

    display: block; /* Évite les espaces en bas de l'image */

}

.TextContentFlow {

    width: 531px;

    height: 397px;

    left: 660px;

    top: 0px;

    position: absolute;

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    align-items: flex-start;

    gap: 24px;

    padding-top: 70px;

}

.TextContentHeading {

    align-self: stretch;

    height: 61px;

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    align-items: flex-start;

    gap: 8px;

    margin-left: 25px;

}

.Heading {

    align-self: stretch;

    color: #1E1E1E;

    font-size: 35px;

    font-family: 'Inter', sans-serif;

    font-weight: 600;

    line-height: 28.8px;

    word-wrap: break-word;

}

.Subheading {

    align-self: stretch;

    color: #757575;

    font-size: 20px;

    font-family: 'Inter', sans-serif;

    font-weight: 400;

    line-height: 24px;

    word-wrap: break-word;

}

.Text {

    align-self: stretch;

    justify-content: flex-start;

    align-items: flex-start;

    display: flex;

    color: #1E1E1E;

    font-size: 16px;

    font-family: 'Inter', sans-serif;

    font-weight: 400;

    line-height: 22.4px;

    word-wrap: break-word;

}

.Frame2 {

    width: 122px;

    height: 44px;

    position: relative;

    background: #DC9D9D;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;

    border-radius: 20px;

    overflow: hidden;

    border: 4px solid;

}

.Price {

    width: 100px;

    height: 50px;

    left: 11px;

    top: 7px;

    position: absolute;

    text-align: center;

    color: black;

    font-size: 22px;

    font-family: 'Roboto', sans-serif;

    font-weight: 400;

    line-height: 28px;

    word-wrap: break-word;

}


    .Newsletter {

        width: 1100PX;
        
        height: 200px;
        
        position: relative;
    
        background: #EFEFEF;
        
        background-size: 280px 50px;

        margin-top: 100px;

        margin-bottom: 100px;
    }
    
    
    .InscrivezVousLaNewsletter {
    
        width: 394px;
    
        height: 56px;
    
        left: 62px;
    
        top: 80px;
    
        position: absolute;
    
        text-align: center;
    
        color: black;
    
        font-size: 28px;
    
        font-family: Roboto, sans-serif; /* Ajout d'une police de secours */
    
        font-weight: 400;
    
        line-height: 36px;
    
        word-wrap: break-word;
    
    }
    
    
    .TextField {
    
        width: 529px;
    
        height: 46px;
    
        left: 496px;
    
        top: 70px;
    
        position: absolute;
    
        opacity: 0.75;
    
        border-top-left-radius: 4px;
    
        border-top-right-radius: 4px;
    
        display: inline-flex;
    
        flex-direction: column;
    
        justify-content: flex-start;
    
        align-items: flex-start;
    
    }
    
    
    .TextFieldInner {
    
        align-self: stretch;
    
        flex: 1 1 0;
    
        background: #E6E0E9;
    
        border-top-left-radius: 4px;
    
        border-top-right-radius: 4px;
    
        display: flex;
    
        flex-direction: column;
    
        justify-content: flex-start;
    
        align-items: flex-start;
    
        gap: 10px;
    
    }
    
    
    .StateLayer {
    
        align-self: stretch;
    
        flex: 1 1 0;
    
        padding: 4px 16px; /* Padding simplifié */
    
        border-top-left-radius: 4px;
    
        border-top-right-radius: 4px;
    
        display: inline-flex;
    
        justify-content: flex-start;
    
        align-items: flex-start;
    
    }
    
    
    .Content {
    
        flex: 1 1 0;
    
        height: 48px;
    
        padding: 4px 0; /* Padding simplifié */
    
        display: inline-flex;
    
        justify-content: center;
    
        align-items: flex-start;
    
    }
    
    
    .InputTextContainer {
    
        align-self: stretch;
    
        display: inline-flex;
    
        justify-content: flex-start;
    
        
    
    }
    
    
    .InputText {
    
        flex: 1 1 0;
    
        color: #1D1B20;
    
        font-size: 16px;
    
        font-family: Roboto, sans-serif; 
    
        font-weight: 400;
    
        line-height: 50px;
    
        letter-spacing: 0.50px;
    
        word-wrap: break-word;

        border: none;

        background-color: #E6E0E9;

        
    
    }
    
    
    .ActiveIndicator {
    
        align-self: stretch;
    
        height: 0px;
    
        border: 1px #49454F solid;
    
    }

    .logo2 {

        width: 90px;

        height: 89px;

        position: relative;

        padding-left: 7px;
    
    }

    .Footer2 {

        width: 100%;

        max-width: 1440px;
        
        height: 100%;
    
        padding: 32px;
    
        opacity: 0.90;
    
        background: #b1b1b133;
    
        justify-content: space-between;
    
        align-items: flex-start;
    
        display: inline-flex;

        position: relative;
    
      
    }
    
    
    .Title {
    
        width: 262px;
    
        flex-direction: column;
    
        justify-content: flex-start;
    
        align-items: flex-start;
    
        gap: 24px;
    
        display: inline-flex;
    
    }
    
    
    .ButtonList {
        justify-content: flex-start;
        
        align-items: center;
    
        gap: 16px;
    
        display: inline-flex;

        position: relative;
    
    }

    .IconContainer{
        display: flex; /* Use flexbox to align icons */
        justify-content: center; /* Center the icons */
        position: relative; /* Position relative for absolute positioning of logo */
        
    }

    .icongroup{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        margin-left: -100px;
        gap: 10px;
        top: 50px;
    }

    .Logo {
        position: relative; /* Position the logo absolutely */
        top: -30px;
        margin-bottom: 10px ;
    }
    
    .Logo img {
        width: 110px; /* Adjust the size of the logo */
        height: auto; /* Maintain aspect ratio */
    }
    
    .XLogo, .LogoInstagram, .LogoYoutube, .Linkedin {
    
        width: 24px; /* Ajusté la largeur pour uniformiser */
    
        height: 24px; /* Ajusté la hauteur pour uniformiser */
    
        position: relative;

        font-size: 25px;


    
    }
    
    
    .Icon {
    
        width: 100%;
    
        height: 100%;
    
        padding-top: 20px;

       
    }
    
    
    .TextLinkList {
    
        width: 262px;
    
        flex-direction: column;
    
        justify-content: flex-start;
    
        align-items: flex-start;
    
        gap: 12px;
    
        display: inline-flex;
    
    }
    
    
    .TextStrong {
    
        color: #1E1E1E;
    
        font-size: 16px;
    
        font-family: Inter, sans-serif; /* Ajout d'une police de secours */
    
        font-weight: 600;
    
        line-height: 22.40px;
    
    }
    
    
    .TextLinkListItem {
    
        width: 180px;

        height: 22px;
    
        position: relative;

        font-family: Inter, sans-serif;

    }
    
    
    .ListItem {
    
        position: absolute;
    
        color: #1E1E1E;

    }


/* Partie page 2 */ 

    .block1{

    }

    .h1{
        
        margin-top: 30px;

        text-align: center;

        font-size: 50px;

    }

    /* Midtable Styles */
.Midtable {
    width: 100%;
    max-width: 1440px;
    height: 400px;
    position: relative;
    align-content: center;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto; 
}

/* Group Styles */
.Group1 {
    width: 1199px;
    height: 421px;
    left: 24px;
    top: 1504px;
    position: absolute;
}

/* Frame Styles */
.Frame9, .Frame10, .Frame11 {
    width: 122px;
    height: 44px;
    padding-left: 11px;
    padding-right: 11px;
    background: #DC9D9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
} 

.Line1, .Line2 {
    width: 1210px;
    height: 2px;
    background: #1D1B20;
    margin: 0 auto;
}

/* Price Styles */
.Price {
    
    text-align: center;
    color: black;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    position: relative;
    Display: block;
}

/* Image Styles */
.Image {
    width: 100%;
    max-width: 270px;
    height: auto;
    max-height: 350px;
    
}

.blockc{
    flex: 1 1 30%; 
    max-width: 480px; 
    height: auto; 
    margin: 10px; 
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Animation */ 

.nav-item:hover {
    width: 100%;
    height: 15px;
    background: #ffffff;
    transition: 1s;

}

.nav-item:hover div{
    color: #1D1B20;
    transition: 0.5ss;

}

/* Anim. Page Tableaux*/ 

.Frame9:hover {
    background: #fcb9b9;
    transition: 0.5s;
}
.Frame10:hover {
    background: #fcb9b9;
    transition: 0.5s;
}
.Frame11:hover {
    background: #fcb9b9;
    transition: 0.5s;
}
